<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>This is the Home Page</h1>
<a th:href ="@{/addStudent}" > Add Student </a> <br>
<a th:href ="@{/addCourse}" > Add Course </a> <br>
<a th:href ="@{/addProff}" > Add Proff </a> <br>
<a th:href ="@{/assignToCourse}" > Assign Student To Courses </a><br>
<a th:href ="@{/assignProffToCourse}" > Assign Proff To Course </a><br>
<a th:href ="@{/viewCourse}" > View Courses </a> <br>
<a th:href ="@{/viewProff}" > View Proff </a> <br>
</body>
</html>